/*
SYNTAX
	selector{
	property value;
	}
	selector:

		universal selector -*--> targets all elements (least priority)*/
	*/
	*{
		font-family: "Roboto", sans-serif;
	}
	h1,p{

		font-family: "Montserrat", sans-serif;
	}

	img{
		height:550px;
		width: 550px;
		border:5px solid pink;
		border-radius:80%;
	}

	#landing{
		/*vh - viewport height depends on the height of the user monitor/screen*/
		height:90vh;
/*allow to align elements hori n verti */
		display:flex;
/*aligns flex items into col/verti*/
		flex-direction: column;
		align-items: center;
		justify-content:center; 
		
	}

	#gallery{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:center; 
		height: 90vh;
		color: #fff08d;
	}
ul{
	list-style: none;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}

h3{
	color: #007bff;
}

.tools{
	border: 5px solid #f2f2f2;
	height: 200px;
	width: 75%;
	margin: 20px;
	padding: 25px;

}

